label > button {
  display: inline-block;
}
button {
  display: block;
  background-color: #00aaff;
  border-width: 0;
  color: white;
  position: relative;
  overflow: hidden;
  padding: 0.75em;
  border-radius: 2em;
  font-size: 1em;
  margin-top: 15px;
}

button:disabled {
  background-color: #cccccc;
  color: black;
  overflow: hidden;
  position: relative;
}

button.loading::before {
  content: '';
  display: block;
  position: absolute;
  box-shadow: 0 0 3em 3em rgba(0,0,0,0.25);
  height: 5em;
  width: 0em;
  top: 0;
  left: 0;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes loading {
  from {
    left: -5em;
  }
  to {
    left: calc(100% + 5em);
  }
}

button:active {
  background-color: #0088dd;
}

input[type='file'] {
  display: none;
}

input[type='text'] {
  display: block;
  border-radius: 2em;
  font-size: 1em;
  border: 1.5px solid black;
  padding: 0.75em;
  margin-top: 15px;
  outline: none;
  width: auto;
}

input[type='text']:focus {
  border: 1.5px solid #0066cc;
}

html,
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
}

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.container > div {
  display: flex;
  flex-direction: column;
  align-items: left;
}

div.radio {
  margin-top: 15px;
}

input[type='radio'] {
  appearance: none;
  margin: 0;
  margin-right: 0.5em;
  padding: 0;
  font: inherit;
  color: #0066cc;
  width: 30px;
  height: 30px;
  border: 3px solid #0066cc;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
label {
  margin-right: 0.5em;
}

input[type='radio']::before {
  content: '';
  display: none;
  width: 18px;
  height: 18px;
  background-color: #0066cc;
  border-radius: 50%;
  left: 3px;
  top: 3px;
  position: absolute;
}

input[type='radio']:checked::before {
  display: block;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

div.errorMessage {
  margin-top: 15px;
  background-color: #d00;
  color: white;
  padding: 0.75em;
  border-radius: 5px;
  border: 1px solid #999;
  width: 100%;
}

div.successMessage {
  margin-top: 15px;
  background-color: #0d0;
  color: white;
  padding: 0.75em;
  border-radius: 5px;
  border: 1px solid #999;
  width: 100%;
}
